@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #141325;
}


.items{
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    align-items: center;
}

.items h1{
    color: #FCFCFE;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.items .img{
    display: flex;
    gap: 0 50px;
}


.items button{
    color: #FEDDFF;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 16px 24px;
    border-radius: 10px;
    background: #4D0EFF;
    width: 383px;
    box-shadow: -4px -4px 4px 0px rgba(52, 36, 121, 0.25), 4px 4px 4px 0px rgba(52, 36, 121, 0.25);
}

